@import '~@fontsource/public-sans/100.css';
@import '~@fontsource/public-sans/200.css';
@import '~@fontsource/public-sans/300.css';
@import '~@fontsource/public-sans/400.css';
@import '~@fontsource/public-sans/500.css';
@import '~@fontsource/public-sans/600.css';
@import '~@fontsource/public-sans/700.css';
@import '~@fontsource/public-sans/800.css';
@import '~@fontsource/public-sans/900.css';

@import '~@fontsource/public-sans/100-italic.css';
@import '~@fontsource/public-sans/200-italic.css';
@import '~@fontsource/public-sans/300-italic.css';
@import '~@fontsource/public-sans/400-italic.css';
@import '~@fontsource/public-sans/500-italic.css';
@import '~@fontsource/public-sans/600-italic.css';
@import '~@fontsource/public-sans/700-italic.css';
@import '~@fontsource/public-sans/800-italic.css';
@import '~@fontsource/public-sans/900-italic.css';

.apexcharts-tooltip,
.apexcharts-tooltip.apexcharts-theme-light {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
